@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

/* importacoes */
* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

#corpinho {
    width: 100vw;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vaza {
    font-family: "Krona One", sans-serif;
}

#vaza a {
    text-decoration-line: none;
    color: black;
    transition: all 0.3s ease;
}

#vaza a:hover {
    background-color: black;
    color: white;
}

#black_a {
    text-align: center;
    height: 50px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    width: 70px;
}

#black_a {
    color: black;
    text-decoration-line: none;
    transition: all 0.3s ease;
}

#black_a:hover {
    color: white;
    background-color: black;


}

.about_list a {
    text-decoration-line: none;
}

body {

    margin: auto;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    /* margin-top: 10px; */
    width: 100%;
    /* height: 50px; */
    /* background-color: red; */
    display: flex;
    justify-content: center;

}

.header_image {
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 80vw;
    /* max-width: 100vw; */
    height: 275px;
    background-image: url(images/math_wallpaper.jpg);
    background-position: center;
    background-size: cover;
    opacity: 80%;
    background-color: black;
}

.header_size {
    margin-top: 30px;
    min-width: 90%;
    height: 50px;
    background-color: #e6e6e6;
    box-shadow: 0px 0px 25px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 30px;
    font-family: "Didact Gothic";
}

.sections {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_list {
    height: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: teal; */
    font-family: "Didact Gothic", sans-serif;
}

.about_list li {
    display: flex;
    height: 100%;
    margin-inline: 30px;
    list-style: none;
    text-align: center;
}

.content_one {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.content_two {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.content_three {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.content_four {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.content_text {
    width: 40%;
    text-align: center;
}

.content_text h3 {
    margin-top: 100px;
    font-size: 40px;
    font-family: "Krona One";
    font-weight: lighter;
}

.content_text p {
    margin-top: 30px;
    font-family: "Jura";
    font-size: 20;
}

.content_text_about {
    margin-top: 100px;
    font-size: 40px;
    font-family: "Krona One";
    font-weight: lighter;
    width: 100%;
}

.youtube_video {
    margin-top: 100px;
    width: 50%;
    /* height: 200px; */
    border-radius: 20px;
}

@media screen and (max-width: 900px) {
    .header_size {
        margin-top: 30px;
        min-width: 100%;
        height: 100px;
        background-color: #e6e6e6;
        box-shadow: 0px 0px 25px black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .logo {
        height: 50%;
    }

    .sections {
        height: 50%;
        /* background-color: rebeccapurple; */
    }

    .header_image {
        margin: 0;
        display: flex;
        justify-content: center;
        min-width: 100vw;
        height: 275px;
    }

    body {
        max-width: 90vw;
    }

    .content_one {
        /* margin-top: 300px; */
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .content_two {
        margin-top: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .content_three {
        margin-top: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .content_four {
        margin-top: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .content_text {
        width: 100%;
        text-align: center;
    }

    .youtube_video {
        width: 100%;
        min-height: 340px;
    }


    .content_text_about {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 100px;
        font-size: 3vh;
        font-family: "Krona One";
        font-weight: lighter;
        width: 80vw;
    }

    .content_text_about h3 {
        margin-top: 10px;
        font-size: 30px;
        font-family: "Krona One";
        font-weight: lighter;
    }

    .content_text_about p {
        margin-top: 30px;
        font-family: "Jura";
        font-size: 20px;
    }
}